<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">HEXA</h1>
        <div class="menu">
            <a href="{{ url_for('register') }}" class="menu-item" data-index="0">Регистрация</a>
            <a href="{{ url_for('login') }}" class="menu-item" data-index="1">Вход</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 